*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(23, 5, 66);
    color: white;
    font-family: 'poppins',sans_serfif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgb(6, 6, 92);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: rgb(141, 141, 227);
    font-size: 1.04rem;
}
.left{
    font-size: 1.5rem;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 120px 0 ;
    
}
.firstSection > div{
    width: 30%;
}
.leftSection{
    font-size: 2.5rem;
}
.leftSection .buttons{
    padding: 50px 0;
}
.leftSection .btn{
    padding: 12px;
    background: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}
.rightSection img{
    width: 80%;
}
.purple{
    color: blueviolet;
}
#element{
    color: blueviolet;
}
.secondSection{
    max-width: 80vw;
    margin: auto;
}
.secondSection h1{
    font-size: 1.6rem;
}
main hr{
    border: 0;
    background: rgb(135, 135, 235);
    height: 1.2px;
    margin: 60px 84px;
}
.text_gray{
    color: gray;
}
.secondSection .box {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}
.secondSection .vertical{
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 120px;
}
.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}
.vertical-title{
    position: relative;
    top: 75px;
    width: 150px;
}
.vertical-desc{
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 9px;
}
.footer{
    display: flex;
    margin: 23px 122px ;
    padding: 20px;
    justify-content: space-evenly;
}
footer{
    background-color: rgb(79, 84, 122);
    margin: 320px 0 12px 0 ;
}
.footer ul {
    list-style: none;
}
.footer > div{
    width: 233px;
}
footer .footer-rights{
    text-align: center;
    color: rgb(192, 182, 182);
    padding: 12px 0;
}
