{% extends 'base.html' %}

{% block contant %}
    <main>
        <section class="firstSection">
            <div class="leftSection">
                Hi, My Name is <span class="purple">Sanjeet</span> 
                <div>And I am a passionate</div>
                <span id="element"></span>
                <div class="buttons">
                    <button class="btn">Download Resume </button>
                    <button class="btn">Visit Gethub</button>
                </div>
            </div>
            
            <div class="rightSection">
                <img src="/static/img/development-4536630_1280.webp">
            </div>
        </section>
        <hr>
        <section class="secondSection">
            
        </section>
    </main>
    
    {% endblock %}