<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sanjeet-developer portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Ubuntu&family=Varela   +Round&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/san.css">
</head>
<body>
    <header>
        <nav>
            <div class="left">Sanjeet's PotFolio </div>
            <div class="right">
                <ul>
                    <!-- {{requist.path}} -->
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/about-us">About</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/project">Project</a></li>
                    <li><a href="/contect">Contect Me</a></li>
                </ul>
            </div>
        </nav>
    </header>