{% extends 'base.html' %}

{% block contant %}
    <main>
        <section class="firstSection">
            <div class="leftSection">
                Hi, My Name is <span class="purple">Sanjeet</span> 
                <div>And I am a passionate</div>
                <span id="element"></span>
                <div class="buttons">
                    <button class="btn">Download Resume </button>
                    <button class="btn">Visit Gethub</button>
                </div>
            </div>
            
            <div class="rightSection">
                <img src="/static/img/development-4536630_1280.webp">
            </div>
        </section>
        <hr>
        <section class="secondSection">
            <span class="text_gray">What I have done so far</span>
            <h1>Past Experience</h1>
            <div class="box">
                <div class="vertical"><img class= "image-top" src="/static/img/html5-logo-html-logo-0.png" alt="">
                <div class="vertical-title">HTML Developer (2021-2022) </div>
                <div class="vertical-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium ut animi voluptatum deleniti odit. Totam sint rerum delectus asperiores illum harum neque, perferendis, in ad corrupti, est rem! Exercitationem, debitis?</div>
            </div>
                <div class="vertical"><img class= "image-top" src="/static/img/html5-logo-css-logo-png-transparent-svg-vector-bie-supply-9.png" alt="">
                <div class="vertical-title">CSS Developer (2021-2022) </div>
                <div class="vertical-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium ut animi voluptatum deleniti odit. Totam sint rerum delectus asperiores illum harum neque, perferendis, in ad corrupti, est rem! Exercitationem, debitis?</div>
            </div>
                <div class="vertical"><img class= "image-top" src="/static/img/images (3).jpg" alt="">
                <div class="vertical-title">JavaScript Developer (2021-2022) </div>
                <div class="vertical-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium ut animi voluptatum deleniti odit. Totam sint rerum delectus asperiores illum harum neque, perferendis, in ad corrupti, est rem! Exercitationem, debitis?</div>
            </div>
            <div class="vertical"><img class= "image-top" src="/static/img/Python-logo-notext.svg.png" alt="">
                <div class="vertical-title">python Developer (2021-2022) </div>
                    <div class="vertical-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium ut animi voluptatum deleniti odit. Totam sint rerum delectus asperiores illum harum neque, perferendis, in ad corrupti, est rem! Exercitationem, debitis?
                    </div>
            </div>
            <div class="vertical"><img class= "image-top" src="/static/img/download.png" alt="">
                <div class="vertical-title">Java Developer (2022-2023) </div>
                    <div class="vertical-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium ut animi voluptatum deleniti odit. Totam sint rerum delectus asperiores illum harum neque, perferendis, in ad corrupti, est rem! Exercitationem, debitis?</div>
                </div>
        </section>
    </main>
    
    {% endblock %}